
<div class="grid grid-cols-2 gap-4">
    <img class="w-[30rem] rounded-2xl" src="images/projects/{{ projectData[0].read_more_image_link_1 }}" alt="project-1">
    <img class="w-[30rem] rounded-2xl" src="images/projects/{{ projectData[0].read_more_image_link_2 }}" alt="project-2">
    <img class="w-[30rem] rounded-2xl" src="images/projects/{{ projectData[0].read_more_image_link_3 }}" alt="project-3">
</div>

<div class="flex flex-col gap-2">
    <h2 class="text-3xl font-bold">
        Beschrijving:
    </h2>
    <p class="max-w-max text-xl">
        {{ projectData[0].description }}
    </p>
</div>